@media only screen and (max-width: 1500px) {

    .parking_cards_container{
        grid-template-columns: repeat(4, 1fr);
    }

}


@media only screen and (max-width: 1200px) {

    .parking_cards_container{
        grid-template-columns: repeat(3, 1fr);
    }

}

@media only screen and (max-width: 900px) {

    .parking_cards_container{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (max-width: 600px) {

    .parking_cards_container{
        grid-template-columns: repeat(1, 1fr);
    }

}