@media only screen and (max-width: 810px) { 
    .parking_modal_container {
        width: 400px;
        height: 500px;
    }

    .parking_modal_left {
        display: none;
    }
}

@media only screen and (max-width: 450px) { 
    .parking_modal_container {
        width: 95%;
    }

    .parking_modal_left {
        display: none;
    }

    .parking_modal_data > div{
        width: 100%;
        display: flex;
        margin-left: 2rem;
    }
}